footer{
    background: #34547A;
    padding: 50px 0;
}
.footer-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.footer-name{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    color: #FFFFFF;
}
.footer-license{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
}

