<footer>
  <div class="footer-section container">
    <div class="footer-text">
      <p class="footer-name">Иванов Иван</p>
      <p class="footer-license">(с) 2018. Все права защищены.</p>
    </div>
    <div class="footer-nav">
      <a><svg width='44' height='40'>
        <use href='img/sprite/sprite.svg#vk'></use>
      </svg></a>
      <a><svg width='44' height='40'>
        <use href='img/sprite/sprite.svg#vk'></use>
      </svg></a>
      <a><svg width='44' height='40'>
        <use href='img/sprite/sprite.svg#vk'></use>
      </svg></a>
    </div>
  </div>
</footer>